/JavaFX/InventarioMinecraft/nbproject/private/
/JavaFX/InventarioMinecraft/build/
/JavaFX/InventarioMinecraft/dist/
/JavaFX/Rectangle/nbproject/private/
/JavaFX/javafx-hello-world/build/
/JavaFX/javafx-hello-world/dist/
/JavaFX/javafx-registration-form-fxml/build/
/JavaFX/javafx-registration-form-fxml/dist/
/JavaFX/javafx-registration-form-fxml/nbproject/private/